{#partial "content"}}



<h1 class="mt-5 text-center">The Squad List</h1>

{{#if squads}}
    {{#each squads}}
        <div class="container mt-5 w-50 list">
            <ul>
                <li>Squad Name: {{name}}</li>
                <li>Max Size: {{maxSize}}</li>
                <li>Cause: {{cause}}</li>
            </ul>
        </div>
    {{/each}}
    <div class="container offset-md-3 text-center">
        <div class="row mt-5 ">
            <div class="col-md-3">
                <a href="/squads"><button type="button" class="btn">Add a Squad</button></a>
            </div>
            <div class="col-md-3 mb-1">
                <a href="/heroes"><button type="button" class="btn">Add Hero</button></a>
            </div>

        </div>
    </div>
{{else}}
    <p class="mt-5 text-center">No Squads yet!</p>
{{/if}}
{{/partial}}

{{> layout.hbs}}

